* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-color: #222;
    justify-content: center;
    padding-top: 25px;
    .container {
        width: 1000px;
        font-family: sans-serif;
        color: #fff;
        .search {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px; 
            padding-bottom: 50px;

            input {
                width: 300px;
                padding: 10px 15px;
                border: none;
                outline: none;
                color: #fff;
                background: linear-gradient(to right, rgb(71, 71, 207), rgb(133, 22, 22))
            }
        }
        
        .cryptoTable {
            width: 100%;
            height: 600px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            align-items: center;
           

            &::-webkit-scrollbar{
                display: none;
            }


        }
        .headers {
            display: flex;
            width: 100%;
            align-items: center;
            text-transform: capitalize;
            padding: 20px 0;
            background-color: #333333;
            user-select: none;

            .name {
                width: 150px;
                text-align: center;
                cursor: pointer;
            }

            .symbol {
                width: 115px;
                text-align: end;
                cursor: pointer;
            }

            .price{
                width: 130px;
                text-align: end;
                cursor: pointer;
            }

            .volume {
                width: 230px;
                text-align: end;
                cursor: pointer;
            }

            .day {
                width: 115px;
                text-align: end;
                cursor: pointer;
            }

            .market {
                width: 240px;
                text-align: end;
                cursor: pointer;
            }
            
        }
    }
}